@model Vocabulary.Models.Language

@{
    ViewBag.Title = "Удаление языка";
}

<h2>@ViewBag.Title</h2>

<h3>Вы действительно хотите удалить @Model.LanguageDescription язык?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.LanguageId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LanguageId)
        </dd>
        <hr />
        <dt>
            @Html.DisplayNameFor(model => model.LanguageNativeName)
        </dt>
        
        <dd>
            @Html.DisplayFor(model => model.LanguageNativeName)
        </dd>
        <hr />
        <dt>
            @Html.DisplayNameFor(model => model.LanguageDescription)
        </dt>
        
        <dd>
            @Html.DisplayFor(model => model.LanguageDescription)
        </dd>
        <hr />
        <dt>
            @Html.DisplayNameFor(model => model.Activity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Activity)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            @Html.ActionLink("На главную", "Index", null, new { @class = "glyphicon glyphicon-home text-success" }) | 
            <input type="submit" value="Удалить" class="btn btn-danger" /> | 
            @Html.ActionLink("Список языков", "ListLanguages", null, new { @class = "glyphicon glyphicon-list" })
        </div>
    }
</div>
