@model IEnumerable<Vocabulary.Models.Language>

@{
    ViewBag.Title = "Список языков";
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Добавить новый язык", "CreateLanguage")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.LanguageId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LanguageDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Activity)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.LanguageId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LanguageDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Activity)
        </td>
        <td>
            @Html.ActionLink("Изменить", "EditLanguage", new { id=item.LanguageId }) |
            @Html.ActionLink("Перевод", "Translation", new { id=item.LanguageId }) |
            @Html.ActionLink("Удалить", "DeleteLanguage", new { id=item.LanguageId })
        </td>
    </tr>
}

</table>
