@model IEnumerable<Vocabulary.Models.Language>

@{
    ViewBag.Title = "Список языков";
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Новый язык", "CreateLanguage", null, new { @class = "glyphicon glyphicon-globe text-warning" })
</p>
<h4 class="text-danger">@Session["LanguageMessage"]</h4>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.LanguageId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LanguageNativeName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LanguageDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Activity)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.LanguageId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LanguageNativeName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LanguageDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Activity)
        </td>
        <td>
            @Html.ActionLink("Изменить", "EditLanguage", new { id = item.LanguageId }, new { @class = "glyphicon glyphicon-edit" }) |
            @Html.ActionLink("Удалить", "DeleteLanguage", new { id = item.LanguageId }, new { @class = "glyphicon glyphicon-remove text-danger" }) |
            @Html.ActionLink("Перевод", "Translation", new { id = item.LanguageId }, new { @class = "glyphicon glyphicon-list-alt text-success" })
        </td>
    </tr>
}

</table>
@{ Session["LanguageMessage"] = ""; }
